body {
  background-color: blanchedalmond;
   padding: 110px; 
   color: #800000;
  }
h1 {
  font-size: 2.5em; 
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  font-family:
  font-family: "Times New Roman", Times, serif;
}
